// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	
}

//import google fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

//variables and mixins

@heading-font: 'Karla', sans-serif;
@body-font: 'Roboto', sans-serif;
@pageWhite: #FBFBFB;
@fontColor: #858585;
@sectionColor: #6F4C3B;
@accentColor: #E1C7CE;
@bodyFontColor: #000005;

.flexit () {
	display:flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

//start section code

html{
	box-sizing: border-box;
	font-size: 62.5%;
}


img {
	width: 80%;
	height: 20%;
	margin-left: 5%;
	padding: 4px;
}

.headersection {
	.flexit() 

}

p {
	font-family: @body-font;
	font-size: 1.8rem;
	color: @bodyFontColor;

}
.div1 {
	margin-left: 5%;
	width: 30%
}

.div2 {
	margin-top: 2%;
	margin-left: 15%;
	padding-left: 15%;
	width: 40%;
	}

	h1 {
		font-size: 4rem;
		color: @fontColor;
}//closes h1

	h2, {
		font-size:3rem;
		color: @sectionColor;
	
}//closes h2

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 2rem;
}
p {
	font-size: 1.8rem;
}

.sectionCard {
	width: 25%;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	line-height: 1.25;
	padding-right: 2%;
	padding:2px;
	

	h2 {
		font-size: 2.8rem;
		color: @sectionColor;
		font-weight: bold;
	}
}

.containerBody1 {
	.flexit();
	margin-bottom: 24px;
	margin-left: 2%;
}

.containerBody2 {
	width: 100%;
	margin-bottom: 24px;
	margin-left: 5%;
	padding-left: 2%;

	.sectionCard2 {
		width: 100%;
		margin-top: 5%;
		margin-bottom: 5%;
		line-height: 1.25;
		
		h2 {
			font-size: 2.8rem;
			color: @sectionColor;
			font-weight: bold;
		}

		h3 {
			font-size: 2.4rem;
			color: @fontColor;
			font-weight: bold;			
		}

		h4 {
			color: @sectionColor;
			font-size: 1.8rem;
		}
		.job1 {
			width: 100%;
			margin-left: 2%;
			margin-right: 2%;
			padding-left: 2%;
		}
		.job2 {
			width: 50%;
			margin-left: 2%;
			margin-top: 24px;
			margin-right: 24px;
			padding-left: 2%;
		}
	}
	p {
		font-size: 2.0rem;
		line-height: 1.25;
	}
}

footer {
	height: fit-content;
	margin-top: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: @accentColor;
	h3, h4 {
		line-height: 1.5;
		font-size: 2.4rem;
		text-align: center;

	}

}