// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	
}

//import google fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


@heading-font: 'Karla', sans-serif;
@body-font: 'Roboto', sans-serif;
@pageWhite: #FBFBFB;
@fontColor: #858585;
@sectionColor: #6F4C3B;
@accentColor: #E1C7CE;
@bodyFontColor: #000005;



html{
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *:before, *:after{
	box-sizing: inherit;
}

h1, h2, h3, h4 {
	font-size: 4rem;
	font-family:@heading-font;
	color:@fontColor;
  }


body{
	font-family: @body-font;
	font-size: 1.8rem;
	line-height: 1.5;
	color:@bodyFontColor;
	
}



img {
	width: 30%;

}











.div1 {
	width: 30%;
} //this closes div1

.div2 {
	width: 70%
	
}

//this closes div2
// this closes header